main {
    flex: 1;
    width: 100%;
    min-height: calc(100vh - 100px);
    height: 1122px;
    overflow-y: auto;
    position: relative;
    padding: 0;
    z-index: 0;
    padding: 0;
}

.user-profile-container {
    width: 1235px;
    height: 470px;
    position: absolute;
    top: 125px;
    left: 519px;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.cover-photo-container {
    width: 100%;
    height: 300px;
    background-image: url('../images/Cover Photo.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
    padding: 25px;
}

.back-icon-container {
    width: 70px;
    height: 70px;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-icon {
    cursor: pointer;
    color: #0033A1;
    transition: transform 0.3s, color 0.3s;
}

.back-icon:hover {
    transform: scale(1.1);
    color: #0056D2;
}

.user-info-container {
    width: 100%;
    height: 170px;
    background-color: white;
    border-radius: 0 0 20px 20px;
    box-shadow: var(--shadow);
    padding: 40px 30px 30px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-info.left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.user-info.profile {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0;
}

.user-profile {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.user-info.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.user-info.name-role {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.user-info.name-role h2 {
    margin: 0;
    font-size: 25px;
    font-weight: 700;
    color: var(--text-default);
}

.user-info.role {
    height: 25px;
    border: 1px solid #2089E6;
    padding: 1px 15px 1px 15px;
    border-radius: 20px;
    font-size: 16px;
    background-color: rgb(32, 137, 230, 0.1);
}

.user-info.role h2 {
    font-size: 18px;
    font-weight: 500;
    color: #2089E6;
    margin: 0;
}

.user-info.username p{
    font-size: 18px;
    font-weight: 500;
    color: #666666;
    margin: 0;
    padding: 0;
}

.user-info.status {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.user-info.active-dot {
    width: 16px;
    height: 16px;
    background-color: #228B22;
    border-radius: 50%;
    align-items: center;
}

.user-info.status p {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-default);
    margin: 0;
    padding: 0;
    align-items: center;
}

.edit-profile-button-container {
    display: flex;
    align-items: center;
}

.edit-button-container {
    width: 100%;
    height: 50px;
    background-color: var(--button-color);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, color 0.3s;
    padding: 10px 33px;
}

.edit-button-container a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    gap: 10px; /* Space between icon and text */
}

.edit-button-container a svg {
    flex-shrink: 0; /* Prevents the SVG from shrinking */
}

.edit-button-container:hover {
    transform: scale(1.02);
    background-color: #0D7AD9;
}

.edit-button-container:hover a {
    color: #ffffff;
}

.user-details-container {
    width: 1235px;
    min-height: 393px;
    position: absolute;
    top: 624px;
    left: 519px;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.user-details {
    width: 855px;
    height: 478px;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: 40px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content-scroll {
    max-height: 106px; /* Set the maximum height for vertical scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scrollbar if not needed */
    width: 100%;
}

.content-scroll::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-bottom: 1px solid #888888;
    padding: 0 0 29px 0;
}

.about h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: var(--text-default);
}

.about p {
    width: 95%;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-default);
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: var(--text-default);
}

.contact-details {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.phone-number, .email-address {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.phone-icon-container {
    width: 50px;
    height: 50px;
    background-color: rgb(251, 151, 125, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-number.info,
.email-address.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.phone-number.info h2,
.email-address.info h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: var(--text-default);
}

.phone-number.info p,
.email-address.info p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #666666;
}

.email-icon-container {
    width: 50px;
    height: 50px;
    background-color: rgb(34, 139, 34, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.year-joined-card,
.documents-routed-card {
    width: 350px;
    height: 150px;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: 40px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.calendar-icon-container {
    width: 70px;
    height: 70px;
    background-color: rgb(102, 102, 102, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.document-icon-container {
    width: 70px;
    height: 70px;
    background-color: #E2F0FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.year-joined.info,
.documents-routed.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.year-joined.info h2,
.documents-routed.info h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: var(--text-default);
}

.year-joined.info p,
.documents-routed.info p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #666666;
}